<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>903667670865-8c62706g1pmdka93rk1t33pp2jb4f1bm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.903667670865-8c62706g1pmdka93rk1t33pp2jb4f1bm</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>903667670865-0n4b7objgmilj3nijcj3c2v8urq7jab3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD7iQOIGqLUwE-RfDyFZ_ABinjMXVIgudM</string>
	<key>GCM_SENDER_ID</key>
	<string>903667670865</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.apexprime.ott</string>
	<key>PROJECT_ID</key>
	<string>apexprime-ott</string>
	<key>STORAGE_BUCKET</key>
	<string>apexprime-ott.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:903667670865:ios:6175085b6222ad2ec53d70</string>
</dict>
</plist>