.iti__country-list {
    background-color: var(--bs-gray-900) !important;
    color: var(--bs-body-color) !important;
    border-color: var(--bs-border-color) !important;
}
.iti__country.iti__highlight {
    background-color: var(--bs-body-bg) !important;
}